<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <center>
        <a href="{{ url_for('home') }}">Home Page</a> &nbsp;&nbsp;&nbsp;&nbsp;
        {% block content %}

        {% endblock %}
    </center>
</body>
</html>