[Desktop Entry]
Encoding=UTF-8
Name=Link to https://drive.google.com/drive/folders/1O7BUl9qJ-6PZptcuQwlPVOi2OFdq5T8V?usp=sharing
Type=Link
URL=https://drive.google.com/drive/folders/1O7BUl9qJ-6PZptcuQwlPVOi2OFdq5T8V?usp=sharing
Icon=text-html
